<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.component.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/App.Theme"
        tools:targetApi="31">
        <activity
            android:name=".module.springBack.SpringBackActivity"
            android:exported="false" />
        <activity
            android:name=".module.swipeLayout.SwipeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".module.flowLayout.TextFlowActivity"
            android:exported="false" />
        <activity
            android:name=".module.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.login.activity.LoginActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".module.login.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".module.expandlistview.ExpandListActivity"
            android:exported="false" />
        <activity
            android:name=".module.recyclerview.multiList.SimpleMultiListActivity"
            android:exported="false" />
        <activity
            android:name=".module.recyclerview.multiList.BRVAHSimpleMultiListActivity"
            android:exported="false" />
        <activity
            android:name=".module.recyclerview.multiList.BRVAHMultiListActivity"
            android:exported="false" />
        <activity
            android:name=".module.recyclerview.drag.DragListActivity"
            android:exported="false" />
        <activity
            android:name=".module.recyclerview.drag.PairDragListActivity"
            android:exported="false" />
    </application>

</manifest>